/*index.html*/
*{
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 249, 240);
}
.title{
    font-size: xx-large;
    text-align: center;
}
.recipies{
    font-size: x-large;
    text-align: center;
    list-style: none;
}
.lasagna{
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    margin: 10px;
    width: 300px;
    height: auto;
    display: inline-block
}
.pizza{
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    margin: 10px;
    width: 300px;
    height: auto;
    display: inline-block;
}
.chicken-alfredo{
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    margin: 10px;
    width: 300px;
    height: auto;
    display: inline-block;
}
